/*Compound css*/

body, h1, h3, .nav-link, .titles_carousel{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header, #carousel, .header_cards, .btns_cards{
    background-color: rgb(255, 163, 163);
}

.carousel-image, .imgs_cards{
    border-radius: 100%;
}

.btns_cards, .card{
    border: none;
}

.beneficies-box, #carousel{
    text-align: center;
}

/*Selectors*/

h1, hr{
    color: #000;
}

h1{
    font-size: 3rem;
    line-height: 1.5;
    padding: 5%;
    margin-top: 5%;
}

p{
    font-size: 0.9rem;
}

/*NavBar*/

.navbar-expand-lg{
    justify-content: space-between;
}

.navbar-brand{
    font-size: 2rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
}

/*Beneficies*/

#beneficies{
    padding: 3% 10%;
    background-color: #fff;
}

.beneficies-box{
    justify-content: center;
}

.icon{
    margin-bottom: 2%;
}

/*Carousel*/

.titles_carousel{
    font-size: 200%;
    margin-bottom: 2%;
}

#carousel{
    padding: 5% 10%;
}

.carousel-image{
    width: 60%;
}

/*Cards*/

.imgs_cards{
    width: 80%;
    margin: auto;
}

.card-title{
    font-size: 25px;
}

.header_cards{
    margin: 2%;
    color: #212529;
    text-decoration: solid;
    font-size: 120%;
}

/*Responsible*/

@media (max-width: 991px) {
    h1{
        text-align: center;
    }
}

/*Social Media Footer*/

.social_media{
    display: flex;
    justify-content: space-evenly;
}

.social-icon{
    margin-top: 5%;
}